# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Python virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.vscode/
.idea/

# Python packaging
*.egg-info/
build/
dist/

# Temporary files
*.tmp
*.log
